venv/
__pycache__/
*.pyc
.env
.idea/
.vscode/
*.log
.flake8
processed_images/
test_images/

# Логи
logs/
*.log

# Питоновские кэши
*.py[cod]
*$py.class

# Временные файлы
*.tmp
*.temp

# IDE
*.swp
*.swo

# Окружение
env/
.venv/